{:smtp
 {:host "smtp.gmail.com"
  :port 587

  :from
  #profile {:default #env! RSS_SMTP_FROM
            :dev "ivan@grishaev.me"}

  :user
  #profile {:default #env! RSS_SMTP_USER
            :dev "ivan@grishaev.me"}

  :pass
  #profile {:default #env! RSS_SMTP_PASS
            :dev "secret123"}}

 :google
 {:cx
  #profile {:default #env! RSS_CSE_CX
            :dev "xxxxxxxxxx"}

  :key
  #profile {:default #env! RSS_CSE_KEY
            :dev "xxxxxxxxxx"}}

 :http
 {:conn-manager
  {:timeout 5
   :threads 4
   :insecure? true}
  :defaults
  {:socket-timeout 1000
   :connection-timeout 1000}}

 :http-server
 {:ip "127.0.0.1"
  :port #profile {:default 8088
                  :dev 18088}
  :thread 4
  :max-body 1048576}

 :db-pool
 {:auto-commit        true
  :read-only          false
  :connection-timeout 30000
  :validation-timeout 5000
  :idle-timeout       600000
  :max-lifetime       1800000
  :minimum-idle       10
  :maximum-pool-size  10
  :pool-name          "rss-pool"
  :adapter            "postgresql"
  :username           #profile {:default #env! RSS_DB_USER
                                :dev "user"}
  :password           #profile {:default #env! RSS_DB_PASS
                                :dev "pass"}
  :database-name      #profile {:default #env! RSS_DB_NAME
                                :dev "rss"}
  :server-name        #profile {:default #env! RSS_DB_HOST
                                :dev "127.0.0.1"}
  :port-number        #profile {:default 15432 ;; TODO
                                :dev 15432}}}
