{:http
 {:port 18088
  :host "127.0.0.1"}

 :db-pool
 {:auto-commit        true
  :read-only          false
  :connection-timeout 30000
  :validation-timeout 5000
  :idle-timeout       600000
  :max-lifetime       1800000
  :minimum-idle       10
  :maximum-pool-size  10
  :pool-name          "rss-pool"
  :adapter            "postgresql"
  :username           #profile {:default #env! RSS_DB_USER
                                :dev "user"}
  :password           #profile {:default #env! RSS_DB_PASS
                                :dev "pass"}
  :database-name      #profile {:default #env! RSS_DB_NAME
                                :dev "rss"}
  :server-name        #profile {:default #env! RSS_DB_HOST
                                :dev "127.0.0.1"}
  :port-number        #profile {:default 5432
                                :dev 15432}}}
